.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background: #b2f5ea;
}

body {
  background-color: #423e46;
}
