body {
  background-color: #54495f;
}
.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background: #4d3c5e;
}

.box-container {
  width: 100%;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background: #342741;
}

.start-box {
  margin-bottom: 1.5rem;
}

.todo-list {
  margin-bottom: 0.5rem;
  font-size: 1.875rem;
  font-weight: 500;
  color: #8567a1;
}

.text {
  display: flex;
  appearance: none;
  -webkit-apperence: none;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e8f0;
  color: #4d3c5e;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.AddList {
  text-align: center;
  color: #fff;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #664685;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  background-color: #8567a1;
  border-radius: 0.25rem;
}
.EditList {
  text-align: center;
  color: #fff;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #664685;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  background-color: #8567a1;
  border-radius: 0.25rem;
}

@media (min-width: 1024px) {
  .box-container {
    width: 75%;
    max-width: 32rem;
  }
}
@media (min-width: 768px) {
  .todo-list h1 {
    font-size: 2.25rem;
  }
}
